.PostContainer {
    border: 1px solid black;
    border-radius: 5px;
    width: 750px;
    margin: 0 auto;
    margin-top: 40px;
}

.post-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.post-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.post-content {
    text-align: center;
}
