@font-face {
    font-family: "Josephine Sans Regular";
    src: url(./josefin-sans/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: "Josephine Sans Bold";
    src: url(./josefin-sans/JosefinSans-Bold.ttf);
}

.logout-button {
    height: 50px;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end; */
    position: relative;
    top: 50px;
    left: 1310px;
    padding-right: 27px;
    font-family: "Josephine Sans Regular";
    /* background-color: #0479AA; */
    background-color: rgba(4, 121, 170, .02);
    z-index: 14;
}

.svg1 {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    fill: #0479AA;
    opacity: .5;
  }

.svg2 {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    fill: #94CBEE;
    opacity: .5;
    z-index: -2;
  }

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 10%;
    vertical-align: middle;
    overflow: hidden;
    z-index: -1;
  }

.navbar {
    background-color: rgba(4, 121, 170, .5);
}

.loggedout-header-font {
    font-family: "Josephine Sans Bold";
}

.loggedout-links {
    font-family: "Josephine Sans Regular";
    color: black;
    font-size: 22px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

a {
    color: black;
}

.loggedout-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 75px;
}