@media all and (min-width: 480px) {
    .Register {
      padding: 60px 0;
    }
  
    .Register form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

@font-face {
    font-family: "DK Garden Bed";
    src: url(./DK\ Garden\ Bed.otf);
}

@font-face {
  font-family: "Josephine Sans Regular";
  src: url(./josefin-sans/JosefinSans-Regular.ttf);
}

.headerFont {
  font-size: 130px;
  font-family: "DK Garden Bed";
  transform: scale(1, 1.5);
  color: #003650;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 100px;
}

.headerWaves {
  opacity: .5;
  position: absolute;
  top: 3%;
  left: 17.3%;
  background: #0479AA;
  width: 100%;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.custom-btn, .custom-btn:hover {
  background-color: #9FCC3B;
  font-family: "Josephine Sans Regular";
  font-size: 21px;
  border-color: #9FCC3B;
}

.normal-font {
  font-family: "Josephine Sans Regular";
  font-size: 18px;
}